{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Info about our kitten company</h1>
    <p>We are a small in-home breeder dedicated to raising healthy, sociable kittens. We first chose a Ragamuffin cat 
      as our family pet because they are child and pet friendly and generally lacking in the "stranger danger" instinct. 
      Our kittens go home between 12 and 16 weeks of age, depending on their maturity, having been given a clean bill of 
      health by our veterinarian, vaccinated and wormed at the appropriate ages.</p>
  </div>
{% endblock %}
